:root {
    /* --bg:black;
    --fg:white;
    --cmenubg:rgb(71, 71, 71);
    --clr:white;
    --btn_bg: #818181bb;
    --accent:rgb(51, 111, 160);
    --btn_fg: #000000fb;
    --lmenu_width: 200px;
    --brdr-small:4px; */
}


.root_dark{
    --bg:rgb(37, 40, 43);
    --fg:white;
    --accent:rgb(47, 61, 115);
   
    /*colorsdark*/
}
.root_light{
    --bg:rgb(216, 223, 233);
    --fg:rgb(0, 0, 0);
    --accent:rgb(47, 61, 115);
}


html{
    background-color: var(--bg);
    font-size: 14px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100%;
    color: var(--clr);
}

x-bdy{
    display: block;
    height: fit-content;
    min-width: 100%;
    min-height: 100%;
    margin-left:0px;
    /* padding-left:200px; */
    /* overflow: auto; */
}
bd{
    display: block;
    /* padding-left:200px; */
    width: 100%;
    height: 100%;
}

x-r1panel{
    display: none;
    min-width: 300px;
}
x-pop{
    position: fixed;
    display: none;
    height: 100%;
    min-width: 400px;
    max-width: 500px;
    right: 0px;
    background: var(--bg);
    padding-top: 0px;
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.534);
    z-index: 1000;
}
x-pop .nav{
    background: var(--accent);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
}
x-pop .content{
    height: 100%;
    padding: 20px;
}

modalx{
    position: fixed;
    display: none;
    z-index: 100;
    width:100%;
    height: 100%;
}
modalx .content{
    position: fixed;
    background:var(--bg);
    bottom: 0px;
    /* top: 60px; */
    width: 100%;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
}

dev-bdy{
    display: none;
}

x-fav{
    position: fixed;
    display: none;
    right: 30px;
    border-radius: 20px;
    padding-top: 50px;
    background: var(--bg);
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.527);
    z-index: 1000;
    padding: 40px;
}

li{
    cursor: default;
}


.garamond {
    font-family: "Cormorant Garamond", serif;
    font-weight: 800;
    font-style: normal;
  }

.pointer{
    cursor: pointer;
}


.sortval{
    display: none;
}


.span{
    cursor: default;
}