menu-l {
    position: sticky;
    top: 0px;
    left: 0px;
    background: #8585852d;
    height: 100%;
    max-width: var(--lmenu_width);
    display: block;
    overflow-y: auto;
    z-index: 10;
}

menu-t {
    background: var(--topbarbg);
    width: 100%;
    display: block;
    position: fixed;
    top: 0px;
    z-index: 20;
}


button {
    padding: 4px 8px 4px 8px;
    outline: none;
    border: none;               
    border-radius: var(--brdr-small);
    background: var(--btn_bg);
    color: var(--btn_fg);
}
button:disabled{
    opacity: 0.6;
    cursor: default;
}
.btn{
    background: rgba(124, 124, 124, 0.493);
    border-radius: var(--brdr-small);
    padding: 4px 8px 4px 8px;
    text-align: center;
}
.xbtn{
    cursor: pointer;
}
.txtbtn{
    background: transparent;
    color: var(--fg);
}

.appicon{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    text-align: center;
    padding-top: 16px;
}

input, textarea {
    border-radius: var(--brdr-small);
    outline:1px solid rgba(0, 0, 0, 0.411);
    padding: 6px 8px 6px 8px;
    background: var(--inpbg);
    color: var(--inpfg);
    border: none;
}

input:focus,textarea:focus {
    background: var(--inpfocus);
    outline: 3px solid var(--accent);
    border: none;
}
.grid input:focus{
    outline:1px solid rgba(0, 0, 0, 0.411);
}

input::placeholder {
    color: rgba(28, 43, 61, 0.516);
}

input:read-only{
    background: rgba(124, 124, 124, 0.116);
    font-style: italic;
    opacity: 0.7;
}

input[datatype="number"]{
    text-align: center;
}
input[datatype="decimal"]{
    text-align: right;
}

input.date{
    letter-spacing: 4px;
    font-weight: bold;
    text-align: center;
}

.date{
    letter-spacing: 2px;
    font-weight: bold;
}

.cmb{
    border-right: 4px solid var(--accent);
}
.cmb:focus{
    border-right: 4px solid var(--accent);
}
.cmb.active{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.411);
}
.cmbpnl{
    position: fixed;
    border-right: 4px solid var(--accent);
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.411);
    background: var(--bg);
    margin-top: 2px;    
    border-radius: 0 0 4px 4px;
    /* border-top: 2px solid black; */
    z-index: 100;
}
.cmbpnl ul{
    background: var(--inpfocus);
    list-style-type: none;
    margin: 0;
    padding: 4px;
}
.cmbpnl li{
    padding: 6px;
    background: rgba(107, 107, 107, 0.452);
    border-radius: 4px;
    margin-top: 1px;
}
.cmbpnl li.active{
    background: var(--accent);
    color: white;
}
.cmbpnl li:hover{
    background: var(--accentx);
}
.cmenu{
    display: none;
    position: absolute;
    z-index: 1000;
    border-radius: 16px;
    min-width: 300px;
}
.cmenu.active{
    display: block !important;
}
.cmenux{
    margin-top: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    background: var(--bg);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.411);
}

x-r1panel .cmenux{
    background: transparent;
}



textarea {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


.scrollview{
    overflow: auto;
}

#dev_input::-webkit-scrollbar {
    display: none;
}

#xlogo{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}
/* .topbar{
    position: fixed;
  10  top: 0px;
    width: 100%;
    left: 0px;
    background: rgba(142, 142, 142, 0.415);
    height: auto;
    padding: 10px;
} */


.h1 {
    font-size: 3rem;
    margin: 10px;
    margin-left: 0;
}

.h2 {
    font-size: 2rem;
    margin: 10px;
    margin-left: 0;

}
.h3{
    font-size: 1.5rem;
    margin: 10px;
    margin-left: 0;
}
.h10{
    font-size: 0.9rem;
    opacity: 0.8;
}
.h11{
    font-size: 0.6rem;
    opacity: 0.8;
}
.hx1{
    display: block;
    font-size: 1.5rem;
    padding-top: 30px;
    padding-bottom: 10px;
}

span{
    display: inline-block;
    cursor: default;
}
span.readonly{
    opacity: 0.7;
}
span.disabled{
    opacity: 0.6;
}

table, th, td {
    border-collapse: collapse;
    padding: 0;
    cursor: default;
    /* text-wrap: nowrap; */
}
table tr:hover{
    outline: 2px solid var(--accent);
}
.strip  tr:nth-child(even) {
    background-color: #52a9f51c;
}

.tbl{
    border-spacing: 2px;
}

.tbl tr:first-child{
    background: rgba(4, 68, 185, 0.404);
}

.tbl td,.tbl th{
    border: 1px solid rgba(121, 121, 121, 0.445);
    border-collapse: collapse;
    padding: 4px 10px 4px 10px;
    max-width: 200px;
    overflow: auto;
    scrollbar-width: none;
}



.card1{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    min-height: 30px;
}

.cardx{
    padding: 20px;
    margin: 5px;
border-radius: 5px;

}

.descp{
    font-size: 0.9rem;
    opacity: 0.6;
}

.accent{
    background: var(--accent);
    color: white;
}

.menuicon2{
    margin-left: 8px;
    margin-top: 5px;
    padding: 5px 50px 5px 50px;
    border-radius: 14px;
    background: var(--topbarbg);
    color: var(--inpfg);
}

.fg1{
    color: var(--accent);
}

.tbl1{
    line-height: 1.8rem;
}
.tbl1  .titlerow{
    border-top: 1px solid rgba(112, 112, 112, 0.548);
    border-bottom: 2px solid rgba(112, 112, 112, 0.548);
}
.tbl1 .totalrow{
    border-top: 1px solid rgba(112, 112, 112, 0.548);
    border-bottom: 1px solid rgba(112, 112, 112, 0.548);
    font-weight: bold;
}

.imgx{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url();
}
.imgy{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url();
}

.bold{
    font-weight: bold;
}

tr:hover{
    /* background: rgba(255, 0, 0, 0.207); */
}
td:hover{
    cursor: default;
}

th{
    padding-top: 10px;
    padding-bottom: 10px;

}


.sort, .sortx{
    cursor: default;
}
.sort::after {
    content: "";
}
.desc::after {
    content: " ⬇";
}
.asc::after {
    content: " ⬆";
}

.nowrap{
    white-space: nowrap;
    text-wrap: nowrap;
}


x-pop .content{
    overflow: scroll;
}





.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
 
.nosb {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.nosb::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}